.card-container {
    align-items: center;
}

.card-content {
    width: 700px;
    margin: 10px auto;
}

h3 {
    text-align: center;
}

pre {
    width: 700px;
    max-width: 700px;
    margin: 10px auto;
    overflow: hidden;
}

.spinner {
    width: 700px;
    margin: 10px auto;
}